:root {
  --backgroundcolor: rgb(29, 16, 22);
  --primary: rgb(255, 68, 155);
}

.editor-tools {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 2;
  list-style-type: none;
  background-color: var(--backgroundcolor);

  padding: 1svw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 6svw;
}

.editor-tools-element {
  border-radius: 10svw;
  width: 60%;
  background-color: var(--primary);
  font-weight: 700;
  padding: 1svw;
  margin: 1svw;
  color: white;
}

.editor-tools-timeline {
  position: absolute;
  background-color: var(--backgroundcolor);
  /* filter: drop-shadow(0 0px 2px white); */
  border-radius: 10svw;
  padding: 1svw;
  width: 60svw;
  height: 2svh;
  right: 20svw;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-items: flex-start;
  top: 1svw;
}

.editor-tools-timeline-line {
  background-color: var(--primary);
  height: 1svh;
  border-radius: 10svw;
}

.editor-tools-timeline-cursor {
  content: '';
  position: absolute;
  z-index: 3;
  background-color: white;
  height: 2svh;
  /* right: 100%; */
  width: 2svh;
  border-radius: 100%;
}

.editor-nav-timestamp {
  position: absolute;
  background-color: var(--backgroundcolor);
  border-radius: 10svw;
  padding: 1svw;
  text-align: left;
  bottom: 1svw;
  right: 1svw;
  width: 10svw;
  color: white;
}

.editor-nav-timestamp small {
  position: absolute;
  opacity: 0.4;
  font-size: 0.8svw;
  right: 0.7svw;
  color: white;
}

.editor-nav-timestamp::before {
  position: absolute;
  content: 'Timestamp :';
  top: -1.5svw;
  font-weight: 800;
  font-size: 1svw;
  right: 0;
  color: var(--backgroundcolor);
}

.editor-nav {
  position: absolute;
  right: 0;
  top: -1svw;
  z-index: 3;
  list-style-type: none;
  background-color: var(--backgroundcolor);
  padding: 1svw;
  height: 4svw;
  display: flex;
  border-radius: 2svw 0 0 2svw;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.editor-tools-selected-object {
  position: absolute;
  right: 0;
  top: 50%;
  color: white;
  background-color: var(--backgroundcolor);
  border-radius: 2svw 0 0 2svw;
  padding-left: 1svw;
  padding-right: 2svw;
  /* padding-top: 1svw; */
  filter: drop-shadow(0 0 0.5rem var(--primary));
  /* height: max-content; */
  transform: translateY(-50%);
  /* transition-duration: 0.1s; */
  padding-bottom: 1svw;
  /* height: 30svh; */
  /* width: 10svw; */
  text-align: left;
}

.editor-tools-selected-object-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.editor-tools-selected-object-element * {
  padding: 0;
  margin: 0.1rem;
  border: none;
  color: white;
}

.editor-tools-selected-object-element button {
  background-color: rgba(199, 77, 148, 0.945);
  padding: 0.5rem;
  width: 10rem;
  filter: drop-shadow(0.1rem 0.1rem 0rem white);
  border-radius: 5rem;
  font-weight: 800;
  font-size: 2rem;
}

.editor-tools-selected-object-element button:hover {
  transition-duration: 0.1s;
  cursor: pointer;
  background-color: rgba(130, 77, 199, 0.945);
}

.editor-tools-selected-object-element *:first-child {
  background-color: rgba(199, 77, 148, 0.74);
  border-radius: 5rem;
  padding: 0.5rem;
  width: 100%;
  font-weight: 700;
}

.editor-nav-element {
  border-radius: 10svw;
  background-color: var(--primary);
  font-weight: 700;
  padding: 1svw;
  margin-left: 1svw;
  color: white;
}
